html, body {
	margin:0;
	padding:0;
	background:#f9f9f9;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:1.5em;
	color:black;
}
a, a:visited, a:hover, a:active {
	color:inherit;
	text-decoration:inherit;
}
h1 {
	text-transform: uppercase;
}
.grid {
	position:relative;
	margin:0;
	margin-left:20px;
	padding:0;
	width:auto;
}
	.grid .grid-block {
		position:relative;
		width:auto;
		height:auto;
		display:block;
		float:left;
		overflow:hidden;
		background-size:cover;
		background-position:center;
	
	}
	.grid .grid-block:hover img {
		transform:scale(1.15);
	}
		.grid .grid-block img {
			display:none;
			position:relative;
			max-height:100%;
			max-width:100%;
			margin:0;
			padding:0;
			vertical-align:middle;
			transition:all 500ms cubic-bezier(0, 1, 0, 1) 0ms;
		}
		.grid .grid-block .hover-overlay {
			display:block;
			position:absolute;
			top:0;
			width:100%;
			height:100%;
			background:rgba(255, 105, 100, 0.95);
			opacity:0;
			transform:scale(0.9);
			transform-origin: 50% 50%;
			transition:all 80ms cubic-bezier(0, 1, 0, 1) 0ms;
		}
			.grid .grid-block .hover-overlay .grid_block_description {
				opacity:1;
				padding:20px;
				cursor:default;
				box-sizing:default;
				max-width:500px;
				
			}
				.grid .grid-block .hover-overlay .grid_block_description h1 {
					margin-top:3px;
					padding-top:0;
					margin-bottom:13px;
				}
				.grid .grid-block .hover-overlay .grid_block_description .project-link {
					display:block;
					width:auto;
					margin-top:10px;
					color:black;
					padding-left:15px;
					text-decoration:underline;
					background-image:url('../res/arrow.svg');
					background-repeat:no-repeat;
					background-size:12px 11px;
					background-position:left 6px;
				}
				.grid .grid-block .hover-overlay .grid_block_description .project-link {
					
				}
				.grid .grid-block .hover-overlay .grid_block_description .project-link a:hover {
					color:white;
				}
		.grid .grid-block:hover .hover-overlay {
			opacity:1;
			transition-delay:0ms;
			transform:scale(1);
			z-index:11;
			transition:all 80ms cubic-bezier(0, 1, 0, 1) 0ms;
		}
			.grid .grid-block:hover .hover-overlay .grid_block_description {
				
			
			}
.whoami {
	position:relative;
	color:black;
	margin-bottom:30px;
	margin-left:20px;
	margin-right:20px;
	padding-top:5px;
}
.whoami p {
	max-width:600px;
	
}
.whoami a {
	display:inline-block;
	color:rgba(255, 105, 100, 1);
	text-decoration:underline;
	margin-bottom:3px;
}
.whoami a:hover {
	color:black;
}
