html, body {
	margin:0;
	padding:0;
	background:#f9f9f9;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:1.5em;
	color:black;
}
a, a:visited, a:hover, a:active {
	color:inherit;
	text-decoration:inherit;
}
h1 {
	text-transform: uppercase;
	line-height:1em;
}
.grid {
	position:relative;
	margin:0;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	padding:0;
	width:auto;
}
	.grid .grid-block {
		position:relative;
		width:auto;
		height:auto;
		display:block;
		float:left;
		overflow:hidden;
		background-size:cover;
		background-position:center;
	}

		.grid .grid-block img {
			display:none;
			position:relative;
			max-height:100%;
			max-width:100%;
			margin:0;
			padding:0;
			vertical-align:middle;
			transition:all 500ms cubic-bezier(0, 1, 0, 1) 0ms;
		}
		.grid .grid-block .hover-overlay {
			display:block;
			position:relative;
			top:0;
			width:100%;
			height:100%;
			background:rgba(255, 105, 100, 0.95);
			opacity:0;
			transform:scale(0.9);
			transform-origin: 50% 50%;
			transition:all 80ms cubic-bezier(0, 1, 0, 1) 0ms;
		}
			.grid .grid-block .hover-overlay .grid_block_description {
				opacity:1;
				padding:20px;
				cursor:default;
				box-sizing:default;
				max-width:500px;

			}
				.grid .grid-block .hover-overlay .grid_block_description p {
					margin-top:0;
					margin-bottom:8px;
				}
				.grid .grid-block .hover-overlay .grid_block_description h1 {
					margin-top:3px;
					padding-top:0;
					margin-bottom:7px;
				}
				.grid .grid-block .hover-overlay .grid_block_description .project-link {
					display:block;
					width:auto;
					margin-top:5px;
					color:black;
					padding-left:15px;
					text-decoration:underline;
					background-image:url('../res/arrow.svg');
					background-repeat:no-repeat;
					background-size:12px 11px;
					background-position:left 6px;
				}
				.grid .grid-block .hover-overlay .grid_block_description .project-link a:hover {
					color:white;
				}
		.grid .grid-block:hover .hover-overlay {
			opacity:1;
			transition-delay:0ms;
			transform:scale(1);
			z-index:11;
			transition:all 80ms cubic-bezier(0, 1, 0, 1) 0ms;
		}



.whoami {
	position:relative;
	color:black;
	margin-bottom:30px;
	margin-left:20px;
	margin-right:20px;
	padding-top:5px;
}
.whoami p {
	max-width:600px;

}
.whoami h1 {

}
	.whoami.mobile .info {
		position:relative;
		top:0;
		right:0;
		text-align:right;

	}
	.whoami .info {
		position:absolute;
		top:1.8em;
		right:0.8em;
		padding-left:10px;
		font-size:11px;
		background:#f9f9f9;
	}
		.whoami .info .info-call {
			text-decoration:underline;
			cursor:pointer;
		}
			.whoami .info .info-call span:first-child {
				display:inline;
			}
			.whoami .info .info-call span:last-child {
				display:none;
			}
			.whoami .info .info-call.open span:first-child {
				display:none;
			}
			.whoami .info .info-call.open span:last-child {
				display:inline;
			}
		.whoami .info .info-call:hover {
			text-decoration: none;
		}
		.whoami .info .text {
			margin-top:10px;
			display:none;
		}
			.whoami .info .text a {

				margin:0;
			}
		.whoami .info .text.visible {
			display:block;
		}

.whoami a {
	display:inline-block;
	color:rgba(255, 105, 100, 1);
	text-decoration:underline;
	margin-bottom:3px;
}
.whoami a.black {
	color:black;
	line-height:inherit;
	margin:0;
	padding:0;
}
.whoami span.red {
	color:rgba(255, 105, 100, 1);
}
.whoami h1 a {
	color:black;
	text-decoration:none;
}
.whoami h1 a:hover {
	text-decoration:noone;
}
.whoami a:hover {
	color:black;
}


/* MOBILE RULES */
.grid.mobile {
	padding:0;
	margin:0;
}
.grid.mobile .grid-block {
	width:100%;
	height:260px;
	margin-bottom:0px;
	cursor:pointer;
}
.grid.mobile .grid-block .hover-overlay.invisible {
	display:none;
}
.grid.mobile .grid-block .hover-overlay {
	padding:10px;
	opacity:0;
}
.grid.mobile .grid-block.touched .hover-overlay {
	display:block;
	opacity:1;
	transition-delay:0ms;
	transform:scale(1);
	z-index:11;
	transition:none;
}
.grid.mobile .grid-block .hover-overlay .grid_block_description {
	padding:0px;
	max-width:100%;
}
.grid.mobile .grid-block .hover-overlay .grid_block_description h1 {
	font-size:18px;
}
.grid.mobile .grid-block .hover-overlay .grid_block_description p {
	font-size:12px;
	line-height:15px;
	max-width:90%;
}
.grid.mobile .grid-block .hover-overlay .grid_block_description .project-link {
	background-size:10px 9px;
	font-size:12px;
}

@media only screen and (max-width: 1020px) {
		.grid .grid-block:hover .hover-overlay {
		}
}

#impressum {
	padding:50px;
	max-width:600px;
}